.level1 {
position: relative;
left: 5px;
}

.level2 {
position: relative;
  left: 15px;
}

.level3 {
position: relative;
  left: 25px;
}

.level4 {
position: relative;
  left: 35px;
}